</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Crypto Ticker Dashboard</h4>
        <p>Get real-time cryptocurrency ticker information from Blockchain.com API</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p>Data provided by <a href="https://www.blockchain.com/api" target="_blank" class="text-white">Blockchain.com API</a></p>
        <p>&copy; <%= year %> xKK. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

</body>

</html>